* {
    font-family: "Quicksand", sans-serif;
    list-style: none;
    text-decoration: none;
}

#bordaLogin{
    background-color: rgb(32, 32, 32);
    padding-top: 226px;
    padding-bottom: 226px;
}

#bordaLogin2{
    background-color: rgb(32, 32, 32);
    padding-top: 256px;
    padding-bottom: 256px;
}

#bordaLogin3{
    background-color: rgb(32, 32, 32);
    padding-top: 116px;
    padding-bottom: 116px;
}

.cont{
    background-color: rgb(255, 100, 52);
    padding:9px;
}

.navega{
    background-color: rgb(255, 100, 52);
    color: aliceblue;
}

#barraul{
    padding-left:77%;
}

.navega>ul>li{
    color: aliceblue;
}

#barraid1{
    color: rgb(32, 32, 32);
}
#barraid2{
    color: rgb(32, 32, 32);
}
#barraid3{
    color: rgb(32, 32, 32);
}

#userNav{
    color:F;
}

#iconeUsuario{
    font-size: 1500%;
    padding: 40% 100%;
    color:rgb(255, 100, 52);
}

#infosUsuario{
    padding: 5% 0% 5% 0%;
    background-color: rgb(32, 32, 32);
}

#cards{
    margin-top: 7%;
}

h2{
    color: rgb(255, 100, 52);
}

form{
    width: 40%;
    text-align: center;
    margin: 0 auto;
    background-color:rgb(49, 49, 49);
    padding: 25px 25px;
    border-radius: 20px;
}

#tipoAnime{
    color:aliceblue
}

