*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

#bordaLogin{
    background-color: rgb(250, 250, 250);
    padding: 265px 260px 300px 260px;
}

footer{
    margin-top: 30px;
    margin-left: 30px;
}

.navega{
    background-color: rgb(41, 109, 255);
    color: aliceblue;
}

#barraul{
    padding-left:77%;
}

.navega>ul>li{
    color: aliceblue;
}

#barraid1{
    color: aliceblue;
}
#barraid2{
    color: aliceblue;
}
#barraid3{
    color: aliceblue;
}

